# IntelliJ specific
/.idea/*
# keep code styles
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml
# keep inspection levels
!/.idea/inspectionProfiles
/.idea/inspectionProfiles/*
!/.idea/inspectionProfiles/Project_Default.xml
# keep copyright settings
!/.idea/copyright
# keep custom scopes
!/.idea/scopes
*.iml
#created artifacts
target
#local database data
/db
#Helm dependencies
/charts/**/Chart.lock
# ignore all dependency charts but not the actual charts directly under the bpdm umbrella chart
!/charts/bpdm/charts
/charts/**/charts
#Developer application properties
application-developer.properties
*.drawio.svg.bkp
